body {
	background-color: #99ff99;
}

h2 {
	color: #0066ff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

p {
	font-size: 16px;
	
}

h1 {
	color: #003366;
	font-weight: bold;
}

ul {
	font-size: 14px;
	font-style: italic;
}

